@"
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data
smartmeter.csv
load_forecast.csv
smartmeterdata/
*.csv
*.zip
*.pdf

# Editors/OS
.vscode/
.DS_Store
Thumbs.db

